/*      card        */

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid;
    height: 100%;
    box-sizing: border-box;
    padding: var(--rf-px-spacer-3);
}

.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: var(--rf-px-spacer-3);
    min-height: 0;
}

@media (max-width: 768px) {
    .card {
        min-height: 300px;
    }
}

/*      textarea        */

textarea {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

